<div class="container mt-4">
    <div class="card">
        <h1>créer un Projet</h1>

        <form>
            <div class="form-group">
                <label>titre</label>
                <input type="text" [(ngModel)]="titre" [ngModelOptions]="{standalone : true}" class="form-control" id="titreProjet" placeholder="entrer un titre">
            </div>

            <div class="form-group">
                <label>competences</label>
                <input type="text" [(ngModel)]="competences" [ngModelOptions]="{standalone : true}" class="form-control" id="competencesProjet" placeholder="entrer une competences">
            </div>

            <div class="form-group">
                <label>createur</label>
                <input type="text" [(ngModel)]="createur" [ngModelOptions]="{standalone : true}" class="form-control" id="createurProjet" placeholder="nom du createur">
            </div>

            <div class="form-group">
                <label>etudiants</label>
                <input type="text" [(ngModel)]="etudiants" [ngModelOptions]="{standalone : true}" class="form-control" id="etudiantsProjet" placeholder="nom des etudiants">
            </div>

            <button type="submit" class="btn btn-primary mt-4" (click)="save()">save</button>
        </form>
    </div>
</div>